.hcitat1 {
  background-color: rgb(202, 229, 248, 0.2);
  border-radius: 50px;
  padding-right: 100px;
  padding-left: 200px;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
}
